.shop-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.shop-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  overflow: hidden;
}

.shop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop-details {
  flex: 1;
}

.shop-details h5 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.shop-details p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.shop-reviews {
  margin-top: 20px;
}

.toggle-reviews {
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}


.shop-reviews h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.shop-actions {
  margin-top: 20px;
}

.shop-actions .form-group {
  margin-bottom: 15px;
}

.shop-actions button {
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: space-evenly; /* or space-around, space-evenly, etc. */
}