.shop-list-container {
    margin-top: 20px;
  }
  
  .custom-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }
  
  .custom-card:hover {
    transform: scale(1.05);
  }
  