.shop-reviews {
    text-align: left; /* Ensure text alignment is left for all content */
  }
  
  .show-reviews-button {
    margin-bottom: 10px; /* Add margin below the toggle button */
  }
  
  .pagination-container {
    margin-top: 10px; /* Add margin above the pagination buttons */
  }
  
  .pagination-button {
    margin-right: 10px; /* Add spacing between pagination buttons */
  }
  