.submit-review-container {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.submit-review-button {
  text-align: right;
  margin-top: 20px;
}

.submit-review-button button {
  width: 150px;
}
